<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="main-content">
        <!-- Header -->
        <header class="header">
            <div class="header-left">
                <a href="/" class="home-link"> <!-- Home Link -->
                    <i class="fas fa-home"></i>
                </a>
            </div>
            <input type="text" class="search-bar" placeholder="What do you want to play?">
            <div class="userProfile">
                <a href="/profile" class="profile-link"> <!-- Profile Link -->
                    <img class="userProfile-avatar" src="{{ url_for('static', filename='image/avt.png') }}" alt="User Avatar">
                </a>
            </div>
        </header>
    
        <!-- Playlist Section -->
        <div class="playlist-section">
            <!-- Tracks will be dynamically added here -->
        </div>
    </div>

    <!-- Load JavaScript -->
    <script src="{{ url_for('static', filename='js/spotify-api.js') }}"></script>
    <script src="{{ url_for('static', filename='js/song.js') }}"></script>    
    <script src="{{ url_for('static', filename='js/homepage.js') }}"></script>
</body>
</html>
